/*
    1. Posicionamiento
    2. Modelo de caja 
    3. Tipografia
    4. Visuales
    5. Otros
*/       

:root{
    /* Color */
    --rojo-zaragoza: #AE0018;
    --azul-sub:#2373B6;
    --gris-texto: #3B3B3B;
    --gris-suave:#D8D8D8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif; 
} 
header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}
header img{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}
header nav{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    background-color: var(--gris-texto);
    justify-content: center; 
}
header nav a{
    color:var(--gris-suave);
    padding: 1rem;
    text-decoration: none;
}
.header--info-container{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: 100vh;
    text-align: center;
    align-self: center;
    filter:opacity(100%)
        brightness(1.1);
    background-image: url(https://images.unsplash.com/photo-1578985893575-4e38b656f31c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.header--title-container{
    width: 80%;
    min-width: 288px;
    max-width: 900px;
    margin: 20% auto;
   
}
.header--title-container h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--gris-texto);
    text-transform: uppercase;
    line-height:3.4rem;
    text-shadow: 1px 1px 5px gainsboro;
}

.header--title-container p{
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--gris-texto);
    text-shadow: 1px 1px 5px gainsboro;
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 115px);
    top: 250px;
    display: block;
    padding: 10px;
    width: 229px;
    height: 40px;
    background-color: var(--rojo-zaragoza);
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 1.6);
    border: none;
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--gris-suave);
}
main{
    width: 100%;
    height: auto;
}
.main-products--all{
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-bottom: 30px;
    text-align: center;
}
.main-products--all .imgZaragoza{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(https://img.directindustry.es/images_di/photo-g/15404-11434601.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-container--title{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.main-container--title h2{
    margin-bottom: 2px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6;
    color: var(--azul-sub);
}
.main-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--gris-texto);
}
/* grid products */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    margin-bottom: 20px;
}
.products {
    grid-column: 1;
    grid-row: 1;
  }
  .products img{
    margin-left: 30px;
    width: 60px;
  }
  .des-products{
    border: 1px solid red;
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    width: 200px;
  }
  .des-products h3{
    font-size: 2.2rem;
    color: var(--gris-suave);
    font-weight: 400;
   }
   .des-products h4{
    font-size: 1.4rem;
    color: var(--gris-texto);
    font-weight: 400;
   }
   .des-products p{
    font-size: 1.1rem;
    color: var(--gris-texto);
    font-weight: 400;
   }
   .background-about-us{
       width: 100%;
       height: 500px;
       background-image: url(../assets/imgs/ciel-cheng-atClaTF60M8-unsplash.jpg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       margin-bottom: 50px;
   }
   .about-us--container{
       width: 100%;
       text-align: center;
   }
   .about-us--container .main-container--title p{
       text-align: justify;
   }
   .button{
    position: relative;
    left: calc(50% - 115px);
    display: block;
    padding: 10px;
    width: 229px;
    height: 40px;
    background-color: var(--rojo-zaragoza);
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 1.6);
    border: none;
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--gris-suave);
    margin-bottom: 50px;
   }

    .main-product-detail{
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px;
        /* background-color: rgba(50, 156, 215, .5); */
        background-color: rgba(50, 156, 215);
    }
    .product-detail--zaragoza-logo{
        position: absolute;
        width: 130px;
        height: 40px;
        top: -25px;
        left: calc(50% - 60px);
        background-image: url(../assets/imgs/logoVertical.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .product-detail--title{
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
    }